@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-uniquifier {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 50px 60px 50px 60px;
    background-image: url('../assets/bg.png');
  }
  
.display-flex{
    display: flex;
}

/* navbar styles */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link-1{
    color: orange;
    font-size: 20px;
    font-weight: 500;
}
.nav-link-2{
color: skyblue;
font-size: 20px;
font-weight: 500;
}
.nav-link-3{
    color: #05D4DF;
    font-size: 20px;
font-weight: 500;
}
.nav-link-4{
    color: #5D58EF;
    font-size: 20px;
font-weight: 500;
}
.nav-link-1, .nav-link-2, .nav-link-3, .nav-link-4{
    text-decoration: none;
 
}
.brand{
font-size: 30px;
font-weight: 600;
}
.btn{
    background-color: orange;
    color: #FFFFFF;
    border-radius: 10px;
    width: 150px;
    height: 40px;
}


/* bannar styles */
.bannar{
    padding: 30px;
    margin-top: 80px;
}
.bannar-start{
    font-size: 50px;
    font-weight: 700;
   
}

.bannar-contant{
    font-size: 15px;
    font-weight: 400;
    margin-top: -10px;
}

.span{
    color: orange;
}
.span-btn{
color: skyblue;
}
.images{
    margin-left: 60px;
}
.btn-primary{
    background-color: black;
    color: #FFFFFF;
    border-radius: 10px;
    width: 180px;
    height: 40px;
}



.standard{
    color: #000000;
    font-size: 38px ;
    font-weight: 500;
    text-align: center;
}


/* standard qurriculum styles   */

.standard-qurriculums{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
}
.image-logo{
    margin-left: 80px;
    margin-top: 20px;
}
.color{
    background-color: #DEF5FF;
    margin-right: 80px;
    border-radius: 15px;
}
.color-1st{
    background-color: #FFF4DC;
    margin-right: 80px;
    border-radius: 15px;
}
.color-2nd{
    background-color: #F2E8FF;
    margin-right: 80px;
    border-radius: 15px;
}



.kinder-heading{
    font-size: 18px;
    color: #202020;
    margin-left: 70px;
}

.kinder-pragraph{
    font-size: 14px;
    color: #808080;
    margin-left: 10px;
  
}

.sapn{

   margin-left: 70px;
}

.read{
    color: #64C8FF;
    font-size: 15px;
    font-weight: 700;
    margin-left: 80px;
    margin-top: -5px;
}
.read-1{
    color: #F0AA00;
    font-size: 15px;
    font-weight: 700;
    margin-left: 80px;
    margin-top: -5px;
}
.read-2{
    color: #8700FF;
    font-size: 15px;
    font-weight: 700;
    margin-left: 80px;
    margin-top: -5px;
}
/* main section styles */




.box-styles{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  
}

.box{
    background-color:#f5edff;
    border-radius: 10px;
  
}
#box-1{
    grid-row: span 4;
   
}

#box-4, #box-5{
    
    grid-column: span 3;
}

.main-btn{
    background-color: #3CD8E8;
    color: #FFFFFF;
    width: 140px;
    height: 30px;
    border-radius: 15px;
    margin-left: 30px;
   
}
.main-btn-1, .main-btn-3, .main-btn-4{
    background-color: #95B226;
    color: #FFFFFF;
    width: 140px;
    height: 30px;
    border-radius: 15px;
    margin-left: 30px;
}
.main-btn-2{
    background-color: #5D58F0;
    color: #FFFFFF;
    width: 140px;
    height: 30px;
    border-radius: 15px;
    margin-left: 30px;
}

.stories{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}





.view{
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 10px;
    width: 130px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
   margin-left:500px ;
}























/* footer styles */




    
    footer{
        background-color: #01ACFD;
        padding: 50px;
        margin-top: 60px;
    }
    
    .containars{
      
       display: flex;
    justify-content: center;
    
    }
    
.footer-hd{
    font-size: 24px;
    margin-bottom: 15px;
  
   text-align: center;
 
}

.footer{
font-size: 24px;
}
.footer-contants{
    width: 33.3%;
}
.footer-contants p{
margin: 0;
padding: 7;
color: #DEF5FF;
}
.footer-contants ul{
    text-align: center;
    color: #DEF5FF;
}
.footer-contants h3{
    margin-left: 80px;
    color: #DEF5FF;
}
.footer-contants h2{
    margin-left: 60px;
    margin-top: -60px;
    color: #DEF5FF;
}
.list li{
  text-align: center;
  list-style: none;
  padding: 7;
 
  position: relative;
  color: #DEF5FF;
}
.list a{
    text-decoration: none;
  
    color: #DEF5FF;
}
.icons{
    text-align: center;
    padding: 0;
}

.icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
  
}
.icons img{
    margin-left: 20px;
   
}






















/* responsive media quary */


@media screen and (max-width:576px){
    .nav-links, .brand, .btn{
        display: none;
    }

.section-title{
    flex-direction: column-reverse;
}

.images{
    width: 100px;
   margin-left: 0;
}
.bannar-start{
    font-size: 20px;
 text-align: center;
 margin-top: -80px;

}

.bannar-contant{
    font-size: 14px;
    margin-left: 10px;
    margin-right: 80px;
    margin-right: -140px;
    margin-top: -10px;
}
.btn-primary{
    margin-left: 100px;
}
.standard{
    font-size: 24px;
}
.standard-qurriculums{
    grid-template-columns:repeat(1, 1fr);
    gap: 20px;
}




.containars{
    flex-direction: column;
    padding:0;
  
}

.footer-contants h3{
margin: 0%;
   font-size: 16px;
   font-weight: bolder;

}
.footer-contants p{
    font-size: 12px;
    font-weight:400;
    margin-right: -140px;

}
.icons img{
width: 30px;
margin: 0%;
padding: 12px;
margin-right: -60px;

}

.list a{
    font-size: 13px;
    margin-right: 130px;
}




}